@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Alike');
@import url('https://fonts.googleapis.com/css?family=Play');


node_modules/react-image-gallery/styles/scss/image-gallery-no-icon.scss
node_modules/react-image-gallery/styles/css/image-gallery-no-icon.css

/* Geral */

::-webkit-scrollbar {
    display: none;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f8fd;
  color: white;
  font-family: 'Nanum Myeongjo';
}

body {
  padding-top: 15vh;
}

/* Landing Page */

.carousel {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.carousel-item img{
  height: 100%;
}

.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background-image: url('../images/P8060305.jpg');
  display: table;
  background-size: cover;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  margin: 0 auto;
  text-align: center;
}

.content h1 {
  font-family: 'Nanum Myeongjo';
  font-size: 2em;
  color:#f4e6cc;
}

/* Navigation bar */
/* Self explanatory */

nav {
  background-color: #f9f8fd;
}

.navbar-nav {
  margin-right: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: calc(5px + 1vmax);
}

.navbar-nav .nav-link {
  color: #151515;
  text-decoration: none;
  font-family: 'Nanum Myeongjo';
  font-weight: bolder;
  text-transform: uppercase;
  opacity: 0.5;
}

.img-enter {
  opacity: 0.5;
}

.img-enter.img-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease;
}

.img-leave {
  opacity: 0.5;
}

.col-link {
  color: #151515;
  text-decoration: none;
  font-family: 'Nanum Myeongjo';
  font-weight: bolder;
  text-transform: uppercase;
  opacity: 1;
  margin: 0em;
  width: 100%;
  cursor: pointer;
}

.nav-link::after {
  content: '';
  display: table;
  margin: 0 auto;
  width: 0;
  height: 1px;
  background: #151515;
  color: transparent;
  opacity: 0;
}


.landing-nav .nav-link::after {
  content: '';
  display: table;
  margin: 0 auto;
  width: 0;
  height: 1px;
  background: #151515;

}

.nav-link.active {
  opacity: 1;
}

.nav-link.active::after {
  content: '';
  display: table;
  margin: 0 auto;
  width: 90%;
  height: 1px;
  background: #151515;
  color: transparent;
  opacity: 1;
}

.nav-link:hover:after {
  width: 90%;
  opacity: 1;
  transition: all ease-out 500ms;
}

/*
.col-link:hover:after {
  width: 90%;
  opacity: 1;
  transition: all ease-out 500ms;
}

.col-link:hover {
  color: #151515;
  text-decoration: none;
  opacity: 1;
  transition: all ease-out 600ms;
}
*/

.nav-link:hover {
  opacity: 1;
  transition: all ease-out 600ms;
}

.landing-nav .nav-link{
  color: white;
}

/* Navigation Bar Heading */
/* Used for Naming */

.navbar .navbar-text {
  float: left;
  font-family: 'Nanum Myeongjo';
  font-size: calc(20px + 1vmax);
  text-transform: capitalize;
  color: #151515;
  margin-left: 2em;
  padding: 0;
}

.navbar-text a {
  text-decoration: none;
  color: #151515;
}



/* Second Navbar */
/* Used for filtering */

.filter-nav {
  background-color: white;
  top: 6.5em;
  padding: 0;
  margin: 0;
  z-index: 999;
}

.filter-nav ul{
  margin-bottom: 1em;
  padding: 0;
}

.filter-nav ul li{
  margin-bottom: 1em;
  padding: 0;
}

.filter-nav ul li a{
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  text-align: center;
}

.filter-nav button {
  margin: 2em;
  padding: 0;
}

/* About me section */

.sobre-row {
  margin-top: 5em;
}

.col-md-7 {
  margin-right: -3em;
}


.info-image {
  width: 80%;
  margin: 0 auto;
}


.contacts {
  text-align: center;
  padding: 0;
  color: #151515;
}

.info-container {
  box-shadow: inset 1px 0px white;
}

.info {
  font-family: 'Nanum Myeongj';
  margin: 1em auto;
  padding: 0em 4em 0em 4em ;
  color: black;
}

.info p {
  text-align: center;
}

.insta i{
  font-size: 2em;
  text-decoration: none;
  padding: 1em;
  color:#151515;
}

.mail i{
  font-size: 2em;
  text-decoration: none;
  padding: 1em;
  color:#151515;
}

.px i{
  font-size: 2em;
  padding: 1em;
  color:#151515;
}


/* Image Gallery */
/* Used for displaying images */

.gallery-row {
  margin: 4em;
}

.gallery-img {
  margin: 0em auto;
  width: 100%;
  height: auto;
}

.filter-row {
  margin: 2em;
  padding: 0em;
}

.filter-col {
  margin: 0em;
  padding: 0em;
}

.filter-img {
  margin: 0em auto;
  height: 100%;
  object-fit: cover;
  padding: 0em;
}

.filter-caption {
  color:white;
  opacity: 0;
  position: absolute; 
  font-family: 'Nanum Myeongjo';
  font-size: 2em;
  top:90%; 
  left:1%; 
  width: 98%; 
  text-align: center;
}

.show {
  opacity: 1;
}

.filter-img-animate {
  transform: scale(1.1)!important;
  opacity:0.9 !important;
}

.container {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0em;
  position: relative;
  padding: 1%;
  
}

.container a {
  background-color: black;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.gallery-img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.navbar-toggler {
  color: black;
  font-family: 'Nanum Myeongjo';
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1em;
  outline: none !important;
  box-shadow: none;
  display: block;
  width: 100%;
}


.navbar-collapse.show {
    /* style goes here */
    text-align: center;
    height: 100vh;
    z-index: 10000;
}

.navbar-collapse.collapsing {
  /* style goes here */
  text-align: center;
  height: 100vh;
  z-index: 10000;
}

.navbar-collapse.collapsing ul{
  /* style goes here */
  padding: 0;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  z-index: 10000;
}

.navbar-collapse.show ul{
    /* style goes here */
    padding: 0;
    width: 100%;
    margin: 0 auto;
}



.landing-nav .navbar-toggler {
  color: white;
}

/* Contact form */

.my-modal {
  background-color: rgba(0,0,0,0.5);
}

.modal-header {
  color: white;
  font-family: "Nanum Myeongjo";
  float: center;
  border: none;
}

.modal-header h2 {
  margin: 0 auto;
}

.modal-content {
  background-color: transparent;
  border: none;
}

.modal-body {
  background-color: transparent;
}

#reused_form {
  background-color: transparent;
  font-family: "Nanum Myeongjo";
  color: white;
}

.my-btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.my-btn:hover {
  background-color: white;
  color: black;
}

.row {
  opacity: 1;
  transition: 2s transform, 3s opacity;
  transform: translate(0,0);
}

.row.fade-out{
  opacity: 0;
  transform: translate(0, 50em);
}

.fotorama__thumb-border {
  border-color: white !important;
}

/* Footer */

.footer {
  flex-shrink: 0;
  text-align: center;
  color: #151515;
  position: bottom;
}

/* Collections Animations */ 


.collection-transition-appear-active .img{
  animation: imgAppearLeft 2000ms ease;
}

.collection-transition-enter-active .img{
  animation: imgAppearLeft 2000ms ease;
}


.collection-transition-exit-active .img{
  animation: imgDisappearLeft 2000ms ease;
}

.collection-transition-appear-active .text{
  animation: textAppear 2000ms ease;
}

.collection-transition-appear-active .number{
  animation: numberAppear 2500ms ease ;
}

.collection-transition-enter-active .number{
  animation: numberAppear 2500ms ease ;
}

.collection-transition-exit-active .number{
  animation: numberDisappear 2000ms ease ;
}


.collection-transition-enter-active .text{
  animation: textAppear 2000ms ease;
}

.collection-transition-exit-active .text{
  animation: textDisappear 2000ms ease;
}

.about-transition-appear-active {
  animation: infoAppear 2s ease;
}

.about-transition-exit-active {
  animation: textDisappear 2000ms ease;
}

.imgAnimation {
  animation:imgScale 0.1s ease 0.4s ,imgAppearLeft 0.1s;
}

.blink {
  animation: blinkOp 5s infinite;
}

.about-transition-appear-done{
  opacity: 1 !important;
}

.logo-appear-active{
  opacity: 1 !important ;
}

.logo-appear-active{
  opacity: 1 !important ;
}

.logo-appear-active .r{
  animation: logoAnimation 4s linear forwards;
}

.logo-appear-active .u{
  animation: logoAnimation 4s linear 150ms forwards;
}

.logo-appear-active .i{
  animation: logoAnimation 4s linear 300ms forwards;
}

.logo-appear-active .c{
  animation: logoAnimation 4s linear 450ms forwards;
}

.logo-appear-active .a{
  animation: logoAnimation 4s linear 600ms forwards;
}

.logo-appear-active .l{
  animation: logoAnimation 4s linear 750ms forwards;
}

.logo-appear-active .h{
  animation: logoAnimation 4s linear 900ms forwards;
}

.logo-appear-active .e{
  animation: logoAnimation 4s linear 1050ms forwards;
}

.logo-appear-active .n{
  animation: logoAnimation 4s linear 1200ms forwards;
}

.logo-appear-active .o{
  animation: logoAnimation 4s linear 1350ms forwards;
}

.logo-down-appear-active {
  animation: logoDownAnimation 8s linear;
}

@keyframes logoAnimation {
  0% { opacity: 0; }
  50% { opacity: 0;}
  100% { opacity: 1;}
}

@keyframes logoDownAnimation {
  0% {top: 50%; left: 50%; opacity: 0;}
  50% {top: 50%; left: 50%; opacity: 0;}
  60% {top: 53%; left: 50%; opacity: 1;}
  70% {top: 53%; left: 50%; opacity: 1;}
  100% {top: 53%; left: 50%; opacity: 0;}
}

@keyframes blinkOp {
  0% {opacity: 1;}
  50% {opacity: 0.3;}
  100% {opacity: 1;}
}

@keyframes imgScale {
  0% {transform: scale(1.5); opacity: 0;}
  100% {transform: scale(1); opacity: 1;}
}

@keyframes imgAppearLeft {
  0% {right: -80em }
  20% {right: -80em }
  80% {}
  100% {}
}

@keyframes imgDisappearLeft {
  0% {}
  80% {right: -80em }
  100% {right: -80em }
}

@keyframes imgDisappear {
  0% {}
  50% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes imgAppear {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes textDisappear {
 
  50% {opacity: 0; transform: translateX(-5em)}
  100% {opacity: 0; transform: translateX(-5em)}
}

@keyframes textAppear {
  0% {opacity: 0; transform: translateX(-5em)}
  50% {opacity: 0; transform: translateX(-5em)}
  100% {}
}

@keyframes numberAppear {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes numberDisappear {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes infoAppear {
  0% {opacity: 0 ; transform: translateX(-5em)}
  50% {opacity: 0; transform: translateX(-5em)}
  100% {opacity: 1;}
}

.appear {

}

.showFromAnimate {
  animation: imgNormalFromAnimate 500ms ease forwards;
}

.showFromHide {
  animation: imgNormalFromHide 500ms ease forwards;
}

.hide {
  animation: imgSmaller 500ms ease forwards;
  visibility: hidden;
}

.animate {
  animation: imgBigger 200ms ease forwards;
}

@keyframes imgNormalFromAnimate {
  0% { transform: scale(1.1)}
  100% {transform: scale(1) ; }
}

@keyframes imgNormalFromHide {
  0% { opacity: 0;}
  100% {opacity: 1;}
}

@keyframes imgBigger {
  0% { position:}
  100% {transform: scale(1.1) ;}
}

@keyframes imgSmaller {
  0% { }
  100% {opacity: 0;}
}

.blend {
  mix-blend-mode: difference;
  color: white !important;
}

.morph.enter {
  opacity: 0;
}
.morph.enter.active {
animation: appear 5s ease;
}

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.morph.exit {
  opacity: 1;
}
.morph.exit.active {
  opacity: 0;
  transition: opacity 300ms;
}

.imgContainer {
  height: 70vh;
  width: calc(70vh * (3/4)); 
  overflow:hidden;
  position: absolute;
  top: 0em;
  right: 0em; 
}

.col-link:hover .img{
  transform: scale(1.1);
  transition: all 500ms ease;
}

.col-link:hover .text{
  transform: scale(1.03);
  transition: all 500ms ease;
}

.col-link .text{
  transform: scale(1);
  transition: all 500ms ease;
}

.col-link .img{
  transform: scale(1);
  transition: all 500ms ease;
}

.col-link .text {
  background-image: -webkit-linear-gradient(270deg, #232526, #4b4f52);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal {
  animation: appearModal 500ms linear ;
}

@keyframes appearModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.infoSpan {
  opacity: 0.3;
}

.infoSpan.film:hover{
  opacity: 1;
}

.infoSpan.film:hover ~ .film{
  opacity: 1;
}

@media screen and (max-width: 800px) {


  .navbar .navbar-text {
    font-family: 'Nanum Myeongjo';
    text-transform: capitalize;
    color: #151515;
    padding: 0;
    margin-left: 0em !important;
    width: 100vw;
    text-align: center;
  }

  .imgContainer {
    height: 70vmin !important;
    width: calc(70vmin * (3/4)); 
    overflow:hidden;
    position: absolute;
    top: 10vh !important;
    right: calc((100vw - (70vmin * (3/4))) /2 ) !important; 
  }

  .img {
    height: 70vmin !important;
  }

  .col-link .text {
    font-size: 5vmin !important;
    top: 6vmin !important;
    left: 0 !important;
    width: 100vw;
    text-align: center;
    margin: 0 !important;
  }

  .sideScroller {
    top: 10vh !important;
  }

  .collectionPhoto {
    height: 70vmin !important;
  }

}
